<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Adam Howard</string>
	<key>Builder Version</key>
	<string>10600.3.18</string>
	<key>CFBundleDisplayName</key>
	<string>Stash</string>
	<key>CFBundleIdentifier</key>
	<string>de.co.with.fun.stash</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>menu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Identifier</key>
						<string>stash-this-tab</string>
						<key>Title</key>
						<string>Stash this tab</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>stash-all-other</string>
						<key>Title</key>
						<string>Stash all other tabs</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>stash-all-tabs</string>
						<key>Title</key>
						<string>Stash all tabs</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>open-overview</string>
						<key>Title</key>
						<string>Open stash overview</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>overview.html</string>
				<key>Height</key>
				<real>400</real>
				<key>Identifier</key>
				<string>overview</string>
				<key>Width</key>
				<real>400</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>stash-all-tabs</string>
				<key>Identifier</key>
				<string>toolbar</string>
				<key>Image</key>
				<string>toolbar-in.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Stash</string>
				<key>Menu</key>
				<string>menu</string>
				<key>Palette Label</key>
				<string>Stash all tabs</string>
				<key>Popover</key>
				<string>overview</string>
				<key>Tool Tip</key>
				<string>Stash all tabs</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>JW4JSKCJKP</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
